/node_modules
/public/**/*.*
!/public/Imagenes/**/*.*
!/public/lib/**/*.*
!/public/avril_assets/**/*.*
!/public/css/**/*.*
!/public/css pagina web movilidad/*.*
!/public/directorio/*.*
!/public/dropify/*.*
!/public/fonts/*.*
!/public/js/**/*.*
!/public/logo/*.*
!/public/TTM/*.*
!/public/videos/*.*
!/public/valex/**/*.*
/storage/*.key
/vendor
.env
docker-compose.yaml
dockerfile
nginx.conf
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode