/node_modules
/storage/*.key
/vendor
.env
docker-compose.yaml
dockerfile
nginx.conf
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode